@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Arimo&family=Economica:wght@700&family=Inconsolata:wght@500&family=Lato:wght@300&family=Montagu+Slab:wght@600&family=Oxygen:wght@700&family=Roboto:wght@300;400&family=Teko:wght@300&display=swap');

:root {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}


body {
    width: 100vh;
    height: 100vh;
    background-color: rgb(47, 35, 97);
    color: white;
    font-family: 'Roboto', sans-serif;
}

input[type=submit] {
    cursor: pointer;
    padding: 0.25rem;
    background-color: transparent;
    border: 2px solid rgb(49, 140, 214);
    color: white;
    border-radius: 0.25rem;
    transition: 0.2s all ease-in-out;
}

input[type=submit]:hover {
    background-color: rgb(49, 140, 214);
    transform: scaleX(1.025);
}

.login-wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

#login-form {
    display: grid;
    justify-content: center;
    align-content: space-between;
    row-gap: .5rem;
    background-color: rgb(67, 124, 189);
    padding: 4rem 5rem;
    border-radius: 0.75rem;
}

.radioButtons {
    justify-self: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: space-around;
    width: 8.5rem;
}

.radioButtons label {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.radioButtons input {
    align-self: center;
    margin-bottom: 0;
    height: fit-content;
}

#loginA1 {
    text-align: center;
    text-decoration: none;
    color: white;
    width: fit-content;
    justify-self: center;
}

#loginA2 {
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    width: fit-content;
    justify-self: center;
}

.nav {
        height: 3rem;
        width: 100vw;
        position: fixed;
        background-color: rgb(39, 24, 99);
        z-index: 1;
}

.list {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    list-style: none;
    justify-content: center;
}

#li1 {
    width: fit-content;
    margin-right: 5rem;
}

#li2 {
    width: fit-content;
}

#dataChange {
    font-size: 1rem;
    cursor: pointer;
    padding: 0.25rem;
    background-color: transparent;
    border: 2px solid rgb(49, 140, 214);
    color: white;
    border-radius: 0.25rem;
    transition: 0.2s all ease-in-out;
}

#dataChange:hover {
    background-color: rgb(49, 140, 214);
    transform: scaleX(1.025);
}

#logout {
    font-size: 1rem;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(67, 124, 189);
    padding: 20px;
    width: 60rem; /* Could be more or less, depending on screen size */
    height: 40rem;
    position: relative;
    border-radius: 0.75em;
  }


  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.1s;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(27, 105, 206);
    text-decoration: none;
    cursor: pointer;
  }

.formContainer {
    position: relative;
    width: 100%;
    height: 89.5%;
    background-color: transparent;
    top: 1rem;
    display: grid;
    border-radius: 0.5em;
    grid-template-columns: auto auto;
    align-items: center;
    border: 2px solid rgb(49, 140, 214);
    
}

#changeSubmit {
    cursor: pointer;
    position: relative;
    height: fit-content;
}

.dataForm {
    display: grid;
    justify-content: center;
    position: relative;
    height: auto;
    flex: 1;
    row-gap: auto;
    font-size: .75rem;
}

label {
    display: flex;
    justify-content: center;
}

.jobsContainer {
    top: 3rem;
    left: 3rem;
    position: absolute;
    width: 36.5vw;
    height: 87vh;
    background-color: transparent;
    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
    justify-items: center;

}

.myJobsContainer {
    top: 3rem;
    right: 3rem;
    position: absolute;
    width: 36.5vw;
    height: 87vh;
    background-color: transparent;
    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
    justify-items: center;
}

.job {
    position: relative;
    width: 20rem;
    height: 15rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    background-color: rgb(67, 124, 189);
    display: grid;
    justify-items: center;
    align-content: space-around;
}


#job1 {
    margin-top: 2rem;
}

.p {
    text-align: center;
}

.MC_FORM {
    display: grid;
    justify-content: center;
    height: fit-content;
    position: relative;
    padding-top: 4rem;
}

.jobsContainer2 {
    top: 3rem;
    position: fixed;
    width: 36.5vw;
    height: 87vh;
    background-color: transparent;
    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
    justify-items: center;
    margin-left: 50%;
}

