@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Arimo&family=Economica:wght@700&family=Inconsolata:wght@500&family=Lato:wght@300&family=Montagu+Slab:wght@600&family=Oxygen:wght@700&family=Roboto:wght@300;400&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    width: 100vh;
    height: 100vh;
    background-color: rgb(47, 35, 97);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.nav {
    height: 3rem;
    width: 100vw;
    position: fixed;
    background-color: rgb(39, 24, 99);
}

.list {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    list-style: none;
    justify-content: center;
}

#li1 {
    width: fit-content;
    margin-right: 5rem;
}

#li2 {
    width: fit-content;
}



/* ADMIN */

.adminContainer {
    position: relative;
    width: 100vw;
    height: calc(100vh - 3rem);
    top: 3rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    align-items: center;
}

.table {
    width: 15rem;
    height: 10rem;
    background-color: rgb(41, 68, 185);
    border-radius: 0.5rem;
    cursor: pointer;
    display: grid;
    text-align: center;
    align-items: center;
    font-size: .85rem;
    transition: all 0.2s ease-in-out;
}

.table:hover {
    transform: scaleX(1.025) scaleY(1.02);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
    bottom: 0rem;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(67, 124, 189);
    padding: 20px;
    width: 60rem; /* Could be more or less, depending on screen size */
    height: 40rem;
    position: relative;
    border-radius: 0.75em;
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

input[type=submit] {
    cursor: pointer;
}

.dataContainer {
    position: relative;
    height: 97.45%;
    top: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    left: 0.3rem;
}

.dList {
    width: 27.5rem;
    height: 90%;
    position: relative;
    background-color: rgb(67, 124, 189);
    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
    justify-items: center;
    
}

.dForm {
    width: 27.5rem;
    height: 100%;
    position: relative;
    justify-items: center;
    background-color: transparent;
    top: 1rem;
    display: grid;
    border-radius: 0.5em;
    grid-template-columns: auto;
    align-content: center;


}


.listElement  {
    position: relative;
    width: 20rem;
    height: 40vh;
    margin-bottom: 2rem;
    border-radius: .25rem;
    background-color: rgb(39, 93, 211);
    display: grid;
    justify-items: center;
    align-content: space-around;
    

}

#mv_dataForm {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.5rem;
    justify-items: center;
    height: fit-content;
    padding: 4rem;
    background-color: rgb(48, 102, 182);
    border-radius: .25rem;
}

.newForm {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.5rem;
    justify-items: center;
    height: fit-content;
    padding: 4rem;
    background-color: transparent;
}
